.hero {
  /* background-color: #102e42; */
  background-color: #0c2231;
  color: #fff;
  min-height: 95vh;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15vh;
}

.hero--bg {
  /* The image used */
  background-image: url("/public/images/hero/bg.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero--container {
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 90rem;
  margin: 0 auto;
}

.cta--link {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
  max-width: 30rem;
  text-align: center;
}
