.about,
.about--image-box {
  display: flex;
  justify-content: center;
}

.about {
  align-items: center;
  background-color: var(--blue-00);
  color: var(--teal-0);
  flex-direction: column;
  gap: 8rem;
  padding: 9rem 6rem;
}

.about--container {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about--description-box,
.about--text-box {
  flex-direction: column;
  gap: 4rem;
  display: flex;
  padding: 4rem 2rem;
  justify-content: flex-start;
  text-align: start;
}

.about--image-box {
  padding: 3rem;
  align-items: flex-start;
}

.about--education-box h3 {
  padding-bottom: 2rem;
  color: var(--teal-5);
}

.about--education-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: start;
}

@media (max-width: 79em) {
  .about {
    gap: 2rem;
  }

  .about--container {
    grid-template-columns: 3fr 2fr;
  }

  .about--image-box {
    padding-top: 10rem;
  }
}

@media (max-width: 68em) {
  .about {
    gap: 0;
  }

  .about--container {
    grid-template-columns: 1fr;
  }

  .about--image-box {
    padding: 0;
  }

  .about--image-box img {
    max-height: 40rem;
  }
}

@media (max-width: 44em) {
  .about {
    padding: 9rem 0.5rem;
  }

  .about--description-box {
    padding: 4rem 0.5rem;
  }
}
