.contact {
  align-items: center;
  background-color: var(--blue-02);
  color: var(--teal-0);
  flex-direction: column;
  gap: 8rem;
  display: flex;
  justify-content: center;
}

.contact--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  max-width: 140rem;
}

.contact--description {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem 4rem;
  line-height: 1.4;
}

.contact--description h3 {
  color: var(--teal-3);
}

@media (max-width: 62em) {
  .contact--container {
    grid-template-columns: 1fr;
  }
}
