footer,
.social-container,
.social-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer {
  background-color: #0c2231;
  color: #eee;
  flex-direction: column;
  overflow: hidden;
  padding: 4rem;
  border-top: 1px solid #eee;
}

.social-container {
  font-size: 5rem;
  gap: 4rem;
}

.social-link {
  color: inherit;
}
