footer,
.social-container,
.social-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer {
  background-color: var(--blue-00);
  color: var(--teal-5);
  flex-direction: column;
  overflow: hidden;
  padding: 4rem;
  border-top: 1px solid var(--teal-5);
}

.social-container {
  font-size: 5rem;
  gap: 4rem;
}

.social-link {
  color: inherit;
}

.social-link:hover {
  color: var(--teal-7);
}
