/*Global Defaults*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Primary Color*/
  --teal-0: #e6fcf5;
  --teal-1: #c3fae8;
  --teal-3: #63e6be;
  --teal-5: #20c997;
  --teal-7: #0ca678;
  /*Blue*/
  --blue-00: #0c2231;
  --blue-01: #081620;
  --blue-02: #071e33;
}

html {
  /* def font-size:16px
    62.5% -> 1rem = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif, "Aleo", "Times New Roman", serif;
  line-height: 1.1;
  font-weight: 400;
  font-size: 2rem;
}

/* FONTS */

.headline {
  font-size: 3.6rem;
  color: var(--teal-5);
}

/* LISTS */

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* LINKS */

.link:link,
.link:visited {
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

/* CONTAINERS */

.container {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
}

.main-section {
  padding: 6rem;
}

@media (max-width: 44em) {
  .main-section {
    padding: 6rem 0.5rem;
  }
}

/* BUTTONS */

.btn {
  border: none;
  font: inherit;
  text-decoration: none;
}

/* UTIL */

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.shadowed-image {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  -webkit-box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #96a6bf, #63738c);
  -webkit-box-shadow: inset 0 0 1px 1px #5c6670;
  -moz-box-shadow: inset 0 0 1px 1px #5c6670;
  box-shadow: inset 0 0 1px 1px #5c6670;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left, #8391a6, #536175);
}

/* Animation */

.shade {
  animation-name: shade;
  animation-duration: 0.2s;
}

@keyframes shade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
